<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Booking Confirmation</title>
</head>

<body>
    <nav>
        <div class="logo">
            <p>Booking Confirmation Page</p>
        </div>
        <ul>
            <li><a href="/userdashboard">Home</a></li>
        </ul>
    </nav>
    <div class="image">
        <img src="/static/booking confirmation.jpg" width="780px">
    </div>
    <div class="form">
        <div class="clickon">
            <h2 style="color: rgb(0, 255, 64);">Your ticket is successfully booked.</h2><br><br>

            <a href="/userdashboard"><button class="button">Book More Tickets</button></a>
        </div>
    </div>

</body>

</html>