<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="logo">
            <p>Authorization Rejected</p>
        </div>
        <ul>
            <li><a href="/">Welcome</a></li>
        </ul>
    </nav>
    <div class="table">
        <h2 style="color: darkred;">Unauthorized Access</h2><br><br>

        <p style="color:mediumblue; font-size: larger;">You are not authorized to login to this site without login.
            Kindly, login..
        </p>
    </div>

</body>

</html>