<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>User Login Page</title>
</head>

<body>
    <nav>
        <div class="logo">
            <p>User Login Page</p>
        </div>
        <ul>
            <li><a href="/">Welcome</a></li>
        </ul>
    </nav>
    <div class="register">
        <div class="clickon">
            <a href="/userlogin"><button class="button">Login</button></a><br><br>
            <a href="/userregister"><button class="button">Register</button></a>
        </div>
    </div>
</body>

</html>